# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# ignore mkdocs output
site/

# editor and misc backup files - anywhere
*~
.*~
*.bak
*.bak[0-9][0-9]
*.orig
*.orig[0-9][0-9]
*.swp
*.swo
\#*\#

# file-browser settings - anywhere
.directory

# CVS recovered versions - anywhere
.#*

# objects and archives - anywhere
*.[oa]
*.la
*.so
*.jar

# derived files
lex.yy.c

# Corefiles
core

# dependency files - anywhere
*.dep

# lnInclude (symlink) folders - anywhere
lnInclude

# build folders - anywhere
linux*Clang*/
linux*Gcc*/
linux*Icc*/
linuxming*/
SiCortex*Gcc*/
solaris*Gcc*/
SunOS*Gcc*/
platforms/



# end-of-file
